* {
     margin: 0;
     padding: 0;
     box-sizing: 0;
     
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
}

:root{
     --nav-color: #3A3A3A;
     --card-color: #18191F;
     --card-color-2: #787885;
     --feature-color-2: #6C6C6C;
     --feature-color: #0A0826;
     --footer-color: #ffffff;
     --footer-color-2: #DFD9E1;
}

/* nav bar */

.nav-content{
     display: flex;
     justify-content: space-between;
     max-width: 1200px;
     margin: 0 auto;
     padding: 50px 120px 0 120px;
}

.bt ul{
     display: flex;
     justify-content: center;
     list-style: none;
     gap: 25px;
}

 ul a{
     text-decoration: none;
}

a{
     font-size: 16px;
     font-weight: 600;
     color: var(--nav-color);
}
